{% extends "layout.html"  %}

{% block body %}
<h1 class="display-4"> Editing list: {{ list.name }}

</h1>
<form method="POST" action="{{ url_for('list_remove', list_id=list.id) }}" styles="display: inline;"
      style="display: inline;">
    <input type="submit" class="btn btn-danger" value="Delete List"/>
</form>
<form method="POST" action="{{ url_for('lists_edit', list_id=list.id) }}" styles="display: inline;"
      style="display: inline;">
    <input type="submit" class="btn btn-info" value="Confirm Edits"/>


    <h2>Army list information:</h2>
    <div class="table row">
        <div class="col-sm-1">Army</div>
        <div class="col-sm-3">List</div>
        <div class="col-sm-2">Points</div>
        <div class="col-sm-1">Legal</div>
        <div class="col-sm-1">Owner</div>
        <div class="col-sm-3">Date made</div>

    </div>


    <div class="table row">
        <div class="col-sm-1"> {{ list.army_type.name }}</div>
        <div class="col-sm-3"> {{ form.name(class_="form-control") }}</div>
        <div class="col-sm-1" class="{% if list.total_cost() > list.points %} text-danger {% endif %}">
            {{ list.total_cost() }} /
        </div>
        <div class="col-sm-1"> {{ form.points(class_="form-control") }}</div>
        <div class="col-sm-1"> {{ list.legal() }}</div>
        <div class="col-sm-1"> {{ list.account.name }}</div>
        <div class="col-sm-2"> {{ list.date_created }}</div>

    </div>
</form>
<h2>Unit information: </h2>
{% for ut in unittype %}
<h4>
    <span> {{ ut.name }}</span>
    <a class="btn btn-info" href="{{ url_for('list_add_unit', list_id=list.id, unittype_id=ut.id) }}">Add new</a>
    <h6>
        <span class="text-secondary"> {{ list.cost_per_unit_type(ut.id) }} pts</span>
        {% if not ut.MaxPoints == None or not ut.MinPoints == None%}
        <span class="{% if not list.unit_type_of_army_precent_valid(ut)  %} text-danger {% else %} text-success {% endif %}">
            {{ list.unit_type_precent_of_army(ut.id) }} % /
            {% if ut.MaxPoints == None %}
            {{ ut.MinPoints }} % Min
            {% else %}
            {{ ut.MaxPoints }} % Max
            {% endif %}
        </span>
        {% endif %}
    </h6>
</h4>
<table class="table">
    {% for uil in unitsinlist %}
    {% if ut.id == uil.unit.UnitType_id %}
    <tr>
        <td> {{ uil.amount }}</td>
        <td> {{ uil.unit.name }}</td>
        <td> {{ uil.unit.Cost }}</td>
        <td>
        {% for upds in uil.updates %}
        {{ upds.update.name }}: {{ upds.update.cost }} pts |
        {% endfor %}
        </td>
        <td> {{ uil.cost() }} pts</td>
        <td>
            <a class="btn btn-info" href="{{ url_for('list_edit_unit', list_id=list.id, unittype_id=ut.id, uil_id=uil.id) }}">Edit</a>
        </td>
        <td>
            <form method="POST" action="{{ url_for('list_remove_unit', list_id=list.id, uil_id=uil.id) }}">
                <input type="submit" class="btn btn-danger" value="Remove"/>
            </form>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
{% endfor %}

{% endblock %}
<a class="btn btn-info" href="{{ url_for('list_add_unit', list_id=list.id, unittype_id=ut.id) }}">Add new</a>