{% extends "layout.html"  %}

{% block body %}
<table>
        <tr>
                <th>Army</th>
                <th>List</th>
                <th>Points</th>
                <th>Legal</th>
                <th>Owner</th>
                <th>Date made</th>

        </tr>
        <tr>
                <td>| {{ list.army_type.name }}</td>

                <td>| {{ list.name }}</td>
                <td>| {{ list.points }}</td>
                <td>| {{ list.done }}</td>

                <td>| {{ list.account.name }}</td>

                <td>| {{ list.date_created }}</td>
        </tr>
</table>

{% for ut in unittype %}
<table>
        <tr>
                <th> {{ ut.name }} </th>
        </tr>
<table>
</table>

        {% for uil in unitsinlist %}
        <tr>
		{% if ut.id == uil.unit.UnitType_id %}
                <td> | {{ uil.amount }} </td> 
                <td> | {{ uil.unit.name }} </td>
                <td> | {{ uil.Cost }} pts </td>
		<form method="POST" action="{{ url_for('list_remove_unit', list_id=list.id, uil_id=uil.id) }}" >
			<input type="submit" value="Remove"/>
		</form>
		</td>
		{% endif %}
        </tr>
        {% endfor %}
</table>
<table>
<td>
<a href="{{ url_for('list_add_unit', list_id=list.id, unittype_id=ut.id) }}" >
	Add new
</a>
</td>
</table>
{% endfor %}

{% endblock %}
