{% extends "layout.html"  %}

{% block body %} 
<table>
	<tr>
		<th>Army</th>
		<th>Name</th>
		<th>Points</th>
		<th>Owner</th>
		<th>Date made</th>
		<th></th>
		
	</tr>

	{% for list in lists %}
	<tr>
		<td>| {{ list.army_type.tag }}</td>

		<td>| {{ list.name }}</td>
                <td>| {{ list.points }}</td>

                <td>| {{ list.account.name }}</td>


		<td>| {{ list.date_created }}</td>
		<td>
			<a href="{{ url_for('lists_show_list', list_id=list.id) }}">
				Show List
			</a>
		</td>
	</tr>
	{% endfor %}
</talbe>
{% endblock %}
