{% extends "layout.html" %}

<!--      <div class="input-group-append">
                <a href="{{ url_for('list_add_unit_updates',
                list_id=list_id,
                unittype_id=unittype_id,
                unit_id=form.unit.data
                ) }}" class="btn btn-outline-secondary" type="button">Confirm</a>
-->

{% block body %}
<form method="POST" action="{{ url_for('list_add_unit', list_id=list_id, unittype_id=unittype_id, unit_id=unit_id) }}">
    <h3 class="display-4"> Adding new unit</h3>
    <div class="form-row">
        <div class="form-group col-md-2">
            {{ form.unit.label(class_="") }}
        </div>
    </div>
    <div class="input-row">
        <div class="input-group md-3">
            {{ form.unit(class_="custom-select") }}

        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            {{ form.amount.label }}
            {{ form.amount(class_="form-control") }}
        </div>
        <div class="form-group col-md-1">
            {{ form.final.label }}
            {{ form.final(class_="form-control") }}
        </div>
    </div>
    {% if unit_id %}
    <div class="form-row">
        <div class="form-group col-md-5">

            {{ update_form.updates.label }}
            {{ update_form.updates(class_="custom-select") }}
        </div>
    </div>
    {% endif %}
    <div class="form-row">
        <div class="form-group col-md-2">
            <label></label>
            {% if not unit_id %}
            <input type="submit" class="btn btn-info form-control" value="Confirm"/>
            {% else %}
            <input type="submit" class="btn btn-info form-control" value="Add Unit"/>
            {% endif %}
        </div>
        <div class="form-group col-md-2">
            <label></label>
            <a class="btn btn-danger form-control" href="{{ url_for('lists_edit', list_id=list_id) }}">
                Cancel
            </a>
        </div>
    </div>
    {% for field, errors in form.errors.items() %}
    <p class="alert aler-error">
        {{ form[field].label }}: {{ ', '.join(errors) }}
    </p>
    {% endfor %}


</form>
{% endblock %}
