{% extends "layout.html" %}

{% block body %}
<table>
	<tr>
		<th></th>
		<th>Army</th>
		<th>Unit types</th>
	</tr>

	{% for armytype in armytypedata %}
	<tr>
		<td>| {{ armytype.tag }}</td>
		<td>| {{ armytype.name }}</td>
		{% for unittype in unittypedata %}
			{% if armytype.id == unittype.ArmyType_id %}
				<td>{{ unittype.name }} , </td>
			{% endif %}
		{% endfor %}
		</td>
	</tr>
	{% endfor %}
</table>
	<tr>
		<th> </th>
	</tr>
<table>

	<tr>
		<th>Army</th>
		<th>Unit type</th>
		<th>Max</th>
		<th>Min</th>
	</tr>

	{% for unittype in unittypedata %}
	<tr>
		{% for armytype in armytypedata %}
		{% if armytype.id == unittype.ArmyType_id %}
		<td>| {{ armytype.tag }}</td>
		{% endif %}
		{% endfor %}
		<td>| {{ unittype.name }}</td>
		{% if unittype.MaxPoints != None %}
		<td>| {{ unittype.MaxPoints }} % </td>
		{% else %}
		<td>| - </td>
		{% endif %}
		{% if unittype.MinPoints != None %}
		<td>| {{ unittype.MinPoints }} % </td>
		{% else %}
		<td>| - </td>
		{% endif %}
	</tr>
	{% endfor %}

</table>
	<tr>
		<td>  </td>
	</tr>
<table>
	<tr>
		<th>Army</th>
		<th>Unit type</th>
                <th>Unit</th>
                <th>pts</th>
                <th>models</th>
		<th>pts/model</th>
		<th>max models</th>
        </tr>

        {% for unit in unitdata %}
        <tr>
		
		{% for armytype in armytypedata %}
                {% if armytype.id == unit.Army_id %}
                <td>| {{ armytype.tag }}</td>
                {% endif %}
                {% endfor %}

		{% for unittype in unittypedata %}
                {% if unittype.id == unit.UnitType_id %}
                <td>| {{ unittype.name }}</td>
                {% endif %}
                {% endfor %}

                <td>| {{ unit.name }}</td>
                <td>| {{ unit.start_cost }}</td>
                <td>| {{ unit.start_number }}</td>
		{% if unit.cost_per != None %}
		<td>| {{ unit.cost_per }}</td>
		{% else %}
		<td>| - </td>
		{% endif %}
		<td>| {{ unit.max_amount }}</td>
        </tr>
        {% endfor %}

</table>
{% endblock %}
