{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('user_create') }}">
	<h1 class="display-4">New user</h1>
	<div class="form-row">
		<div class="form-group col-md-3">
			{{ form.name.label }}
			{{ form.name(class_="form-control") }}
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-3">
			{{ form.username.label }}
			{{ form.username(class_="form-control") }}
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-3">
			{{ form.password.label }}
			{{ form.password(class_="form-control") }}
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-4">
			<input type="submit" class="btn btn-info" value="Submit"/>
		</div>
	</div>
	{% for field, errors in form.errors.items() %}
    <p class="alert aler-error">
        {{ form[field].label }}: {{ ', '.join(errors) }}
    </p>
    {% endfor %}
</form>
{% endblock %}

